.container {
  position: absolute;
  min-height: 500px;
  width: 80vw;
  margin-top: 15vh;
  margin-left: 17vw;
  margin-right: 5vw;
}

/* MEDIA*/
@media (max-width: 768px) {
  .container {
    width: 90vw;
    margin-left: 5vw;
  }
}
