.data {
  width: 100%;
  min-height: 120vh;
  background-color: $light-color;
}

.container-pages {
  width: 55vw;
  min-height: 200px;
  margin: 0 auto;

  .statistic {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
